name: create_release_from_tag

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      packages: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build the Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          file: ../../Dockerfile
          platforms: linux/amd64
          build-args: |
            AGENT_VERSION=7.70.1
            RELEASE_VERSION=${{ github.ref_name }}
          tags: datadog-aas
          load: true
      - name: Extract zip file
        run: docker cp $(docker create datadog-aas):/datadog-aas-${{ github.ref_name }}.zip .
      - name: Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          prerelease: true
          name: ${{ github.ref_name }}
          files: |
            datadog-aas-${{ github.ref_name }}.zip
            datadog_wrapper
