name: create_release_from_tag

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      packages: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build the Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          file: ../../Dockerfile
          platforms: linux/amd64
          build-args: |
            AGENT_VERSION=7.72.4
            RELEASE_VERSION=${{ github.ref_name }}
          tags: datadog-aas
          load: true
      - name: Extract zip file
        run: docker cp $(docker create datadog-aas):/datadog-aas-${{ github.ref_name }}.zip .
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          prerelease: true
          name: ${{ github.ref_name }}
          files: |
            datadog-aas-${{ github.ref_name }}.zip
            datadog_wrapper
